@media (max-width: 991px) {
    section > .container{
        width: 100%;
        max-width: 100%;
    }
    .nav-name {
        display: none;
    }
    #project .container .proj-container .proj-items .proj-body .proj-body2 {
        display: table-cell;
    }
    #project .container .proj-container .proj-items .proj-body .items:last-child {
        display: flex;
    }
    #certificate .container .cer-box-body .row .col-12 {
        padding-left: 0;
        border-bottom: 1px solid color(srgb 0.8414 0.7578 0.5656);
    }
    #certificate .container .cer-box-body .row .col-12 .card .row.g-0 {
        padding: 0 12px;
    }
    #certificate .container .cer-box-body .row .col-12:nth-child(even) .card .row.g-0 {
        border-left: 1px solid color(srgb 0.8414 0.7578 0.5656);
    }
    #certificate .container .cer-box-body .row .col-12:first-child,
    #certificate .container .cer-box-body .row .col-12:nth-child(2)
    {
        padding-left: 0;
        border-top: 0;
    }
}